**Name : Jainam Rajput**

**SAP ID : 60009200022**

**Div/Batch : K/K1**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Given Dataset - Smart City Index Headers

In [ ]:
df = pd.read_csv("/content/Smart_City_index_headers.csv")
df.head()

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
1,2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
2,3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
3,4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
4,5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340

In [ ]:
df.shape

(102, 11)

In [ ]:
df.columns

Index(['Id', 'City', 'Country', 'Smart_Mobility ', 'Smart_Environment',
       'Smart_Government ', 'Smart_Economy ', 'Smart_People', 'Smart_Living',
       'SmartCity_Index', 'SmartCity_Index_relative_Edmonton'],
      dtype='object')

Number Of Columns in dataset and their names.

In [ ]:
df.describe()

,Id,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,51.500000,5759.401961,5943.500000,5893.803922,6131.803922,5874.049020,6377.039216,5991.911765,-480.392157
std,29.588849,1214.030137,1724.032171,1153.375297,1801.555148,1449.096341,2286.397477,852.775180,852.783238
min,1.000000,3175.000000,1850.000000,2806.000000,1490.000000,2825.000000,1980.000000,4191.000000,-2281.000000
25%,26.250000,4809.750000,4530.500000,5143.000000,5007.500000,4724.750000,4385.000000,5366.250000,-1105.750000
50%,51.500000,5651.500000,6495.000000,5911.000000,6432.500000,5747.500000,6485.000000,6261.500000,-210.500000
75%,76.750000,6763.750000,7310.000000,6581.500000,7492.500000,7061.250000,8710.000000,6672.500000,200.500000
max,102.000000,8110.000000,8844.000000,8726.000000,9225.000000,9695.000000,10000.000000,7353.000000,880.000000

**.describe()** method gives the description about  statistics values (e.g., mean, standard deviation, min, median, max, first quartile, third quartile).

In [ ]:
df.describe(include='object')

        City Country
count    102     102
unique   102      36
top     Oslo   Italy
freq       1      11

**Subsetting data or drill-down dat**

In [ ]:
df[(df['SmartCity_Index'] >=5000) & (df['SmartCity_Index'] <=9000)]

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
0,1,Oslo,Norway,6480,6512,7516,4565,8618,9090,7138,666
1,2,Bergen,Norway,7097,6876,7350,4905,8050,9090,7296,823
2,3,Amsterdam,Netherlands,7540,5558,8528,8095,7098,7280,7311,839
3,4,Copenhagen,Denmark,7490,7920,8726,5580,5780,7200,7171,698
4,5,Stockholm,Sweden,6122,7692,8354,4330,6743,7730,6812,340
...,...,...,...,...,...,...,...,...,...,...,...
88,89,Ancona,Italy,4208,7496,5826,7910,2825,3950,5241,-1232
89,90,Lisbon,Portugal,4875,4994,5266,6850,3560,4860,5040,-1432
91,92,Rome,Italy,5808,6468,4066,5000,4298,3950,5020,-1453
100,101,Calgary,Canada,6675,4052,5946,8022,6424,8657,6678,206
101,102,Edmonton,Canada,5801,4499,6396,8022,6200,8141,6472,0

Finding all the unique values in a column

In [ ]:
df['Country'].unique()

array(['Norway', 'Netherlands', 'Denmark', 'Sweden', 'Canada', 'Austria',
       'Singapore', 'United States', 'Switzerland', 'Finland', 'Germany',
       'Taiwan', 'Iceland', 'France', 'Luxembourg', 'Australia',
       'United Kingdom', 'Japan', 'New Zealand', 'Italy', 'Spain',
       'South Korea', 'Belgium', 'Ireland', 'United Arab Emirates',
       'Estonia', 'Hungary', 'Slovakia', 'Slovenia', 'Israel', 'China',
       'Portugal', 'Czech Republic', 'Malaysia', 'Russia', 'Latvia'],
      dtype=object)

extracting all the numerical features, categorical features, object features, continous features in separate list

In [ ]:
num_features = [feature for feature in df.columns if df[feature].dtype!='O']
obj_feature = [feature for feature in df.columns if df[feature].dtype=='O']
cat_num_features = [feature for feature in num_features if len(df[feature].unique())<15]
continous_features = [feature for feature in num_features if feature not in cat_num_features]

In [ ]:
num_features

['Id',
 'Smart_Mobility ',
 'Smart_Environment',
 'Smart_Government ',
 'Smart_Economy ',
 'Smart_People',
 'Smart_Living',
 'SmartCity_Index',
 'SmartCity_Index_relative_Edmonton']

In [ ]:
obj_feature

['City', 'Country']

In [ ]:
cat_num_features

[]

In [ ]:
continous_features

['Id',
 'Smart_Mobility ',
 'Smart_Environment',
 'Smart_Government ',
 'Smart_Economy ',
 'Smart_People',
 'Smart_Living',
 'SmartCity_Index',
 'SmartCity_Index_relative_Edmonton']

Sorting the dataset with respect to columns

In [ ]:
df.sort_values(by = ['Smart_Living','Smart_People'], ascending= True)

,Id,City,Country,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,SmartCity_Index_relative_Edmonton
86,87,Hong Kong,China,6143,3340,4984,4780,4385,1980,4313,-2160
92,93,Shanghai,China,6870,2936,3842,4430,4423,1980,4228,-2244
98,99,Beijing,China,7610,2998,2806,4905,5183,1980,4449,-2023
69,70,Abu Dhabi,United Arab Emirates,7302,2108,5948,3325,5933,2130,4549,-1923
74,75,Dubai,United Arab Emirates,7280,1850,4142,2395,7125,2130,4297,-2175
...,...,...,...,...,...,...,...,...,...,...,...
14,15,Ottawa,Canada,6793,5136,7550,4285,6703,9920,6852,379
21,22,Toronto,Canada,6780,4712,6158,5885,7158,9920,6881,409
19,20,Vancouver,Canada,5975,5348,6726,7385,7725,9920,7152,679
5,6,Montreal,Canada,7490,4848,6624,6180,8465,9920,7353,880
8,9,Singapore,Singapore,5790,4344,5560,5535,9695,10000,6813,341

In [ ]:
df.agg({'Smart_People': ['count','min', 'max', 'mean']})

       Smart_People
count     102.00000
min      2825.00000
max      9695.00000
mean     5874.04902

GROUP BY is used to arrange identical data into groups based on the aggregation function used.

In [ ]:
df.groupby('Country')['Smart_People'].sum()

Country
Australia               21981
Austria                  8580
Belgium                  6680
Canada                  42675
China                   13991
Czech Republic           5315
Denmark                 25508
Estonia                  4955
Finland                 59800
France                  37806
Germany                 53086
Hungary                  7260
Iceland                  7285
Ireland                  5425
Israel                   4113
Italy                   51262
Japan                    7561
Latvia                   3745
Luxembourg               4723
Malaysia                 3313
Netherlands              7098
New Zealand              7855
Norway                  31821
Portugal                 3560
Russia                   9533
Singapore                9695
Slovakia                 5485
Slovenia                 5503
South Korea             16495
Spain                   11450
Sweden                  18398
Switzerland             12850
Taiwan                   7858
United Arab Emirates    13058
United Kingdom          17271
United States           46159
Name: Smart_People, dtype: int64

Finds if there are any null values in the dataset

In [ ]:
df.isna().sum()

Id                                   0
City                                 0
Country                              0
Smart_Mobility                       0
Smart_Environment                    0
Smart_Government                     0
Smart_Economy                        0
Smart_People                         0
Smart_Living                         0
SmartCity_Index                      0
SmartCity_Index_relative_Edmonton    0
dtype: int64

# Selected DataSet

In [ ]:
df = pd.read_csv('/content/D202.csv')
df.head()

             TYPE        DATE START TIME END TIME  USAGE UNITS    COST  NOTES
0  Electric usage  10/22/2016       0:00     0:14   0.01   kWh  $0.00     NaN
1  Electric usage  10/22/2016       0:15     0:29   0.01   kWh  $0.00     NaN
2  Electric usage  10/22/2016       0:30     0:44   0.01   kWh  $0.00     NaN
3  Electric usage  10/22/2016       0:45     0:59   0.01   kWh  $0.00     NaN
4  Electric usage  10/22/2016       1:00     1:14   0.01   kWh  $0.00     NaN

In [ ]:
df.shape

(70368, 8)

In [ ]:
df.columns

Index(['TYPE', 'DATE', 'START TIME', 'END TIME', 'USAGE', 'UNITS', 'COST',
       'NOTES'],
      dtype='object')

In [ ]:
df.describe()

              USAGE  NOTES
count  70368.000000    0.0
mean       0.121941    NaN
std        0.210507    NaN
min        0.000000    NaN
25%        0.030000    NaN
50%        0.050000    NaN
75%        0.120000    NaN
max        2.360000    NaN

In [ ]:
df.describe(include='object')

                  TYPE       DATE START TIME END TIME  UNITS    COST
count            70368      70368      70368    70368  70368   70368
unique               1        733         96       96      1      49
top     Electric usage  11/5/2017       1:00     1:14    kWh  $0.01
freq             70368        100        735      735  70368   30204

Type, Units, End Time, Notes are redundant columns so we drop them

In [ ]:
df.drop(columns=["TYPE", "UNITS", "END TIME", "NOTES"], errors="ignore",inplace=True)

In [ ]:
df["COST"] = df["COST"].str.replace("$", "", regex=False).astype(float)

We attach the Timestamp along with Date

In [ ]:
add_prefix_lambda = lambda start_time: "0"+ start_time if int(start_time.split(":")[0]) < 12 else start_time
df["START TIME"] = df["START TIME"].apply(add_prefix_lambda)

In [ ]:
df["Date"] = df["DATE"] + " " + df["START TIME"]
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df = df[["Date", "USAGE", "COST"]]
df.columns = ["Date", "usage", "cost"]

In [ ]:
df.head()

                 Date  usage  cost
0 2016-10-22 00:00:00   0.01   0.0
1 2016-10-22 00:15:00   0.01   0.0
2 2016-10-22 00:30:00   0.01   0.0
3 2016-10-22 00:45:00   0.01   0.0
4 2016-10-22 01:00:00   0.01   0.0

We take the aggregate and sum the usage and cost for monthly dataset

In [ ]:
monthly_usage_df = df.resample("1M", on="Date").sum()

In [ ]:
monthly_usage_df.head()

             usage    cost
Date
2016-10-31   85.60   15.24
2016-11-30  404.36   73.56
2016-12-31  624.52  122.30
2017-01-31  742.40  145.38
2017-02-28  458.12   85.78

In [ ]:
monthly_usage_df.shape

(25, 2)

In [ ]:
monthly_usage_df.agg({'usage': ['count','min', 'max', 'mean']})

          usage
count   25.0000
min     85.6000
max    742.4000
mean   343.2288

We take the aggregate and sum the usage and cost for Daily dataset

In [ ]:
daily_usage_df = df.resample("1D", on="Date").sum()

In [ ]:
daily_usage_df.shape

(733, 2)

In [ ]:
daily_usage_df.head(10)

            usage  cost
Date
2016-10-22   4.52  0.60
2016-10-23  23.32  4.36
2016-10-24   7.16  1.20
2016-10-25   8.68  1.60
2016-10-26   5.04  0.84
2016-10-27   5.32  0.92
2016-10-28   4.64  0.72
2016-10-29  10.64  1.96
2016-10-30   7.44  1.40
2016-10-31   8.84  1.64

In [ ]:
daily_usage_df.agg({'usage': ['count','min', 'max', 'mean']})

            usage
count  733.000000
min      0.000000
max     39.720000
mean    11.706303

In [ ]:
daily_usage_df[(daily_usage_df['usage'] >=5.00) & (daily_usage_df['usage'] <=15.00)]

            usage  cost
Date
2016-10-24   7.16  1.20
2016-10-25   8.68  1.60
2016-10-26   5.04  0.84
2016-10-27   5.32  0.92
2016-10-29  10.64  1.96
...           ...   ...
2018-10-15   6.64  1.40
2018-10-16   7.72  1.64
2018-10-17   5.88  1.32
2018-10-19   7.76  1.60
2018-10-20   8.00  1.68

[493 rows x 2 columns]

In [ ]:
daily_usage_df.to_csv('Daily_Electricity_Consumption.csv')